@{
    ViewBag.Title = "Home Page";
}
<html>
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/indexStile.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="Parallax div-Parallax ">
            <div class="div-Parallax div-img  col-sm-12 col-md-12">
                <div class="container">
                    <a href="/Empleadoes/Index"><div class="Framebox">
                        <div class="">
                            <img src="~/IMG/image 1.png" class="div-img" /></a>

                        </div>

                        <div class="">
                            <center> <p>CONTRAR PERSONAL</p></center>

                            <center><p class="text-color">En este apartado puedes registrar a los empleados de la empresa</p></center>



                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
