
@{
    ViewBag.Title = "Informe";
}

    <html>
    <head>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="~/Content/InformesDg.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    </head>
    <body class="Parallax col-sm-12 col-md-12">
        <div class="row">
            <div class="Parallax div-Parallax ">
                <div class="div-Parallax div-img  col-sm-12 col-md-12">
                    <div class="container">
                        <div class="Framebox">
                            <div class="">
                                <a href="/Nominas/Index"><img src="~/IMG/maxresdefault.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>Nomina</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar y calcular  la Nomina de la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox2">
                            <div class="">
                                <a href="/EmpleadosActivoes/Index"><img src="~/IMG/departa.png" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>EmpleadosActivos</p></center>

                                <center><p class="text-color">En este apartado puedes visualizar  los empleados activos de la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox3">
                            <div class="">
                                <a href="/EmpleadosInactivoes/Index"><img src="~/IMG/reuniondetrabajo-empleateya.png" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>EmpleadosInactivos</p></center>

                                <center><p class="text-color">En este apartado puedes visualizar  los empleados activos de la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox4">
                            <div class="">
                                <a href="/InfoDeparmatentoes/Index"><img src="~/IMG/maxresdefault.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>Departamentos</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar los departamentos la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox5">
                            <div class="">
                                <a href="/InfoCargoes/Index"><img src="~/IMG/image 1.png" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>Cargos</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar los cargos que en la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox6">
                            <div class="">
                                <a href="/InfoSalidas/Index"><img src="~/IMG/DEspido.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>DESPIDOS</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar los despidos de la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox7">
                            <div class="">
                                <a href="/InfoPermisoes/Index"><img src="~/IMG/permisoo.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>PERMISOS</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar los empleados tiene permisos especiales de la empresa</p></center>



                            </div>
                        </div>

                        <div class="Framebox8">
                            <div class="">
                                <a href="/Entradas/Index"><img src="~/IMG/DERECHO-A-VACACIONES-ESTANDO-DE-BAJA-MÉDICA.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>Entradas</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar las entradas  de los empleados</p></center>



                            </div>
                        </div>
                        <div class="Framebox9">
                            <div class="">
                                <a href="/Vacaciones/Index"><img src="~/IMG/el-tjue-sentencia-que-las-vacaciones-pagadas-no-se-pierden-aunque-no-se-pidan.jpg" class="div-img" /></a>

                            </div>

                            <div class="">
                                <center> <p>Vacaciones</p></center>

                                <center><p class="text-color">En este apartado puedes Visualizar que empleado esta de vacaciones en la empleados</p></center>



                            </div>
                        </div>




                    </div>
                    </div>
            </div>
        </div>

    </body>
    </html>