@model IEnumerable<WebApplicationPRUEBA.Models.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigoCargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigoCargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo1)
        </td>
        
    </tr>
}

</table>
