body, html {
    height: 70%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.Parallax {
    background: url("/IMG/image 1.png");
    /* Parallax effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Parallax-2 {
    background: url("/IMG/image 1.png");
    /* Parallax effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.Cont {
    background-color: #fff;
}

.div-Parallax {
    width: 100%;
    float: left;
    height: 670px;
}

.div-text {
    width: 100%;
    float: left;
    height: 420px;
}

.div-img {
    width: 200px;
    height: 150px;
    border-radius: 16px;
}

div {
    padding: 0;
    margin: 0;
}

.Framebox {
    width: 200px;
    height: 250px;
    margin-left: 100px;
    margin-top: 100px;
    background: #FFFFFF;
    border-radius: 16px;
}

.Framebox2 {
    width: 200px;
    height: 250px;
    margin-left: 380px;
    margin-top: -250px;
    background: #FFFFFF;
    border-radius: 16px;
}

.Framebox3 {
    width: 200px;
    height: 250px;
    margin-left: 650px;
    margin-top: -250px;
    background: #FFFFFF;
    border-radius: 16px;
}

.row {
    margin: 0;
}

.text-fot {
    font-family: 'Times New Roman';
    font-size: small;
}
.text-contene{
    background: #fff;
}
